<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/stylesheets/style.css" type="text/css" />
		<title>Voter Portal</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/js/authorization.js"></script>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>
