{{!-- You can't vote
click here to vote
you've already voted --}}

<h1>Voter Portal</h1>

{{#if registered}}
    <h1>Welcome to the Voter Portal {{first_name}}!</h1>
    {{else}}
        <h1>need to be registered to vote</h1>
{{/if}}